@import "../../styles/variables.scss";


.favorites {
    overflow: auto;
    -ms-overflow-style: none;
    justify-self: center;
    grid-row: 3 / 4;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 2rem;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, .54fr));
    grid-template-rows: repeat(auto-fit, minmax(45rem, min-content));
    gap: 4rem;

    z-index: 3000;

    &::-webkit-scrollbar {
        display: none;
      }
}

.msg {
  grid-row: 2 / 3;
  margin-top: 10rem;
}

.pick {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 3rem;
  margin-top: 10rem;

  &__icon {
    font-size: 12rem;
    align-self: center;
    justify-self: center;
    color: $color-red-dark;
  }
  
  &__text {
    font-family: $font-secondary;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: .3rem;
    color: $color-brown;
  }
}
