@import "../../styles/variables.scss";


.favorites {
    justify-self: center;
    grid-row: 2 / 3;
    margin-left: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, .28fr));
    grid-template-rows: repeat(auto-fit, minmax(40rem, min-content));
    gap: 4rem;

    z-index: 3000;
}
