.fav-card {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(121, 33, 21);
  margin-bottom: 20px;
  width: clamp(45ch, 80%, 100ch);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  /* font-family: 'Permanent Marker', bold; */
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.fav-card img {
  height: 50px;
  margin-right: 10px;
}

.fav-card button {
  height: 60px;
  width: 50px;
}



.info p {
  color: white;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 13px;
  width: auto;
}
