// COLOR VARIABLES
$color-red-dark: #D84A31; 
$color-red-light: #e3a587;
$color-brown: #a57f60;
$color-blue: #20a39e;
$color-yellow-light: #ffd275;
$color-yellow-dark: #FFc247;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

// FONT VARIABLES
$font-primary: 'Rye', cursive;
$font-secondary: 'Raleway', sans-serif;
