// COLOR VARIABLES
$color-red-dark: #CE4027; 
$color-red-light: #e3a587;
$color-brown: #a57f60;
$color-blue: #20a39e;
$color-yellow-light: #ffdd99;
$color-yellow-dark: #FFc247;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

// FONT VARIABLES
$font-primary: 'Rye', cursive;
$font-secondary: 'Raleway', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-large: 75em;
$bp-med: 47em;
$bp-small: 39em;
$bp-tiny: 27em;
