.main-section {
  text-align: center;
  display: grid;
    grid-template-rows: auto 1fr;
}

.main-section header {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  display: flex;
  justify-content: space-around;
}

.title {
  text-align: center;
  margin-top: 70px;
  font-size: 2em;
}

.link {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  margin-right: 40px;
  margin-top: 70px;
  background-color: #f2ce4c;
  border-radius: 7px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: inherit;
  display: inline-block;
}






/* font-family: 'Permanent Marker', cursive; */
/* font-family: 'Comic Neue', cursive; */
