@import "../../styles/variables.scss";

.joints {
  grid-row: 2 / 3;
  grid-column: 1 / 11;
  z-index: 1;
  margin-top: 5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;

}
