@import "../../styles/variables.scss";

.joints {
  grid-row: 2 / 3;
  grid-column: 1 / 11;
  z-index: 1;
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, .28fr));
  grid-template-rows: repeat(auto-fit, minmax(40rem, min-content));
  gap: 8rem;
}

.video {
  transform: translateY(-20rem);
  background-color: $color-red-light;
  width: 70vw;
  margin-left: 8vw;

  &__embed {
    border-style: solid;
    border-width: 4rem;
    border-color: $color-yellow-dark;
  }

  &__text {
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
    font-family: $font-primary;
    letter-spacing: .3rem;
    color: $color-red-dark;
    margin-top: 7rem;
  }
}
