@import "../../styles/variables.scss";

.header {
    grid-column: 1 / 11;
    background-color: $color-red-dark;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: minmax(min-content, max-content);
    justify-content: center;
    align-content: start;
    row-gap: 2rem;
    padding-top: 3.5rem;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    z-index: 10;
    
    &__title {
       
        text-align: center;
        align-content: center;
        font-family: $font-primary;
        font-size: 2.5rem;
        letter-spacing: .3rem;
        color: $color-grey-light-1;
    }

    &__text {
        text-align: center;
        align-content: center;
        font-family: $font-primary;
        background: linear-gradient(to top, $color-yellow-light, $color-yellow-dark);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 6.5rem;
        letter-spacing: .5rem;
    }
}
